In [2]:
import pandas as pd

In [3]:
df_moa = pd.read_csv("BBBC021_v1_moa.csv")

In [4]:
df_raw = pd.read_csv("BBBC021_v1_image_moa.csv")

In [5]:
#df.head()

In [6]:
#df.isnull().sum()

In [7]:
#df.shape

In [8]:
#df["moa"].unique()
#len(df2["moa"].unique())

In [9]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13200 entries, 0 to 13199
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 13200 non-null  int64
 1   TableNumber                13200 non-null  int64
 2   ImageNumber                13200 non-null  int64
 3   Image_FileName_DAPI        13200 non-null  object
 4   Image_PathName_DAPI        13200 non-null  object
 5   Image_FileName_Tubulin     13200 non-null  object
 6   Image_PathName_Tubulin     13200 non-null  object
 7   Image_FileName_Actin       13200 non-null  object
 8   Image_PathName_Actin       13200 non-null  object
 9   Image_Metadata_Plate_DAPI  13200 non-null  object
 10  Image_Metadata_Well_DAPI   13200 non-null  object
 11  Replicate                  13200 non-null  int64
 12  compound                   13200 non-null  object
 13  concentration              13200 non-null  float64
 14  moa                        3848 non-null   object
dtypes: float64(1), int64(4), object(10)
memory usage: 1.5+ MB

In [10]:
df_raw.describe()

         Unnamed: 0   TableNumber   ImageNumber     Replicate  concentration
count  13200.000000  13200.000000  13200.000000  13200.000000   13200.000000
mean    6599.500000      4.636364   1687.045455      1.981818       8.329681
std     3810.656111      2.746100   1420.389481      0.820029      56.573161
min        0.000000      0.000000      1.000000      1.000000       0.000000
25%     3299.750000      2.000000    340.750000      1.000000       0.015000
50%     6599.500000      5.000000    684.500000      2.000000       0.300000
75%     9899.250000      7.000000   3128.000000      3.000000       1.625000
max    13199.000000      9.000000   3840.000000      3.000000    1000.000000

In [11]:
df = df_raw.dropna(subset=['moa'])

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3848 entries, 9352 to 13199
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Unnamed: 0                 3848 non-null   int64
 1   TableNumber                3848 non-null   int64
 2   ImageNumber                3848 non-null   int64
 3   Image_FileName_DAPI        3848 non-null   object
 4   Image_PathName_DAPI        3848 non-null   object
 5   Image_FileName_Tubulin     3848 non-null   object
 6   Image_PathName_Tubulin     3848 non-null   object
 7   Image_FileName_Actin       3848 non-null   object
 8   Image_PathName_Actin       3848 non-null   object
 9   Image_Metadata_Plate_DAPI  3848 non-null   object
 10  Image_Metadata_Well_DAPI   3848 non-null   object
 11  Replicate                  3848 non-null   int64
 12  compound                   3848 non-null   object
 13  concentration              3848 non-null   float64
 14  moa                        3848 non-null   object
dtypes: float64(1), int64(4), object(10)
memory usage: 481.0+ KB

In [13]:
df["moa"]

9352     Actin disruptors
9353     Actin disruptors
9354     Actin disruptors
9355     Actin disruptors
9356     Actin disruptors
               ...
13195                DMSO
13196                DMSO
13197                DMSO
13198                DMSO
13199                DMSO
Name: moa, Length: 3848, dtype: object

In [14]:
from collections import Counter

In [15]:
Counter(df["moa"])

Counter({'Actin disruptors': 60,
         'Aurora kinase inhibitors': 144,
         'Cholesterol-lowering': 72,
         'DNA damage': 108,
         'DNA replication': 96,
         'Eg5 inhibitors': 144,
         'Epithelial': 88,
         'Kinase inhibitors': 40,
         'Microtubule destabilizers': 168,
         'Microtubule stabilizers': 1428,
         'Protein degradation': 84,
         'Protein synthesis': 96,
         'DMSO': 1320})

In [16]:
df_moa["moa"].unique()

array(['Epithelial ', 'Protein synthesis', 'Aurora kinase inhibitors',
       'Actin disruptors', 'Protein degradation', 'DNA replication',
       'Eg5 inhibitors', 'Microtubule stabilizers', 'DNA damage',
       'Kinase inhibitors', 'Microtubule destabilizers',
       'Cholesterol-lowering', 'Epithelial', 'DMSO'], dtype=object)

In [18]:
df.columns

Index(['Unnamed: 0', 'TableNumber', 'ImageNumber', 'Image_FileName_DAPI',
       'Image_PathName_DAPI', 'Image_FileName_Tubulin',
       'Image_PathName_Tubulin', 'Image_FileName_Actin',
       'Image_PathName_Actin', 'Image_Metadata_Plate_DAPI',
       'Image_Metadata_Well_DAPI', 'Replicate', 'compound', 'concentration',
       'moa'],
      dtype='object')

In [24]:
df["Image_FileName_DAPI"].iloc[0]

'Week1_150607_B04_s3_w135D66B4C-0548-4AB8-A57B-9CC39666813B.tif'

In [25]:
df["Image_FileName_Tubulin"].iloc[0]

'Week1_150607_B04_s3_w2D81AEFB9-9DD4-4B59-9177-2093F0815C94.tif'

In [26]:
df["Image_FileName_Actin"].iloc[0]

'Week1_150607_B04_s3_w408BE006A-BF34-457E-81A9-FAB019FE8996.tif'

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('raw_data.csv')

In [5]:
df.head()

                                               image               moa
0  [[[10  1  1]\n  [ 9  1  1]\n  [10  2  1]\n  .....  Actin disruptors
1  [[[11  3  2]\n  [11  3  2]\n  [10  3  2]\n  .....  Actin disruptors
2  [[[11  2  2]\n  [12  2  1]\n  [11  2  1]\n  .....  Actin disruptors
3  [[[10  2  2]\n  [11  2  2]\n  [11  2  2]\n  .....  Actin disruptors
4  [[[11  2  2]\n  [ 9  2  2]\n  [ 8  2  1]\n  .....  Actin disruptors